@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@300;400;500;600;700&family=Work+Sans:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Open Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Work Sans", sans-serif;
  background-color: rgb(198, 194, 194);
}
/* common styles hare */
.container {
  width: 63rem;
}
/* start header section styles */
.nav-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 4rem 7.25rem;
}
.nav-logo {
  font-size: 24px;
  font-weight: 700;
}
.nav-menu {
  display: flex;
  list-style: none;
  font-size: 1rem;
  font-weight: 600;
}

.item a {
  text-decoration: none;
  padding-right: 2rem;
  color: #3a3a3a;
}
.icon i {
  padding-right: 1rem;
}
/*  section container styles */
.section-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding-bottom: 5rem;
}
.section-items {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
}
.item-image {
  padding-left: 133px;
}
.item-title {
  font-size: 47px;
  font-weight: 700;
  color: #3a3a3a;
  padding-bottom: 16px;
}
.sub-title {
  font-weight: 600;
  color: #3a3a3a;
  padding-bottom: 16px;
}
.btn-primary {
  background: #e02c6d;
  border: none;
  border-radius: 41px;
  font-weight: 700;
  font-size: 16px;
  color: #ffff;
  padding: 10px 24px;
}
.item-image {
  background-image: url("../images/Circle\ design.svg");
  background-repeat: no-repeat;
  background-position: right;
}

/*  company styles hare  */

.company {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding-bottom: 5rem;
}

.company-logo .gap {
  padding-right: 2.5rem;
}

.company-logo img {
  width: 5rem;
  height: 5rem;
}
.company-logo {
  border-top: 1px solid rgb(225, 143, 143);
  border-bottom: 1px solid rgb(225, 143, 143);
}

.pg-title {
  text-align: center;
  font-size: 2rem;
  padding-bottom: 60px;
}
.product-image img {
  padding: 10px;
  padding-bottom: 10px;
  width: 300px;
  height: 300px;
  border-radius: 15px;
}
.products-details{
  display: grid;
  grid-template-rows:repeat(2,1fr);
 
  margin: 0 auto;
  align-items: center;
  width: 300px;
  height: 450px;
  background-color:#ffff;
  border-radius: 15px;
  
}
.product-title{
  font-size: 22px;
  font-weight: 600;
  padding-bottom: 10px;
  padding-left: 20px;
}
.rating{
  padding-left: 20px;
  display: flex;
  gap:10px;
  color: #e02c6d;
  padding-bottom: 10px;
}
.product-sub-title{
  padding-left: 20px;
  font-size: 16px;
  font-weight: 500;
  
}
