@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@300;400;500;600;700&family=Work+Sans:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Open Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Work Sans", sans-serif;
  background-color: #ffff;
}
/* common styles hare */
.container {
  width: 63rem;
}
/* start header section styles */
.nav-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 4rem 7.25rem;
}
.nav-logo {
  font-size: 24px;
  font-weight: 700;
}
.nav-menu {
  display: flex;
  list-style: none;
  font-size: 1rem;
  font-weight: 600;
}

.item a {
  text-decoration: none;
  padding-right: 2rem;
  color: #3a3a3a;
}
.icon i {
  padding-right: 1rem;
}
/*  section container styles */
.section-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
.section-items {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
}
.item-image {
  padding-left: 133px;
}
.item-title {
  font-size: 47px;
  font-weight: 700;
  color: #3a3a3a;
  padding-bottom: 16px;
}
.sub-title {
  font-weight: 600;
  color: #3a3a3a;
  padding-bottom: 16px;
}
.btn-primary {
  background: #e02c6d;
  border: none;
  border-radius: 41px;
  font-weight: 700;
  font-size: 16px;
  color:#ffff;
  padding: 10px 24px;
  ;
}
.item-image img{
  border:2px solid #e02c6d;
  border-radius: 5px;
 
  width: 440px;
  min-height: 414px;
}
@media only screen and (mix-width:) {
  
}